* {
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 200px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: rgb(51, 60, 70);
    font-size: 16px;
}

/* #navbar {
    background-color: rgb(245, 238, 238);
    min-width: 300px;
    top: 10px;
    width: 300px;
    height: 92%;
    border: 2px solid;
    border-radius: 10px;
    margin-left: 10px;


} */

.nav {
    width: 100%;


}



#navbar header {
    font-size: 15px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 30%;
    border: 2px solid;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    width: 100%;




}

#navbar ul {
    margin-left: 10px;
    width: 100%;
    margin-top: 40%;



}

#navbar ul>li {

    list-style: none;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    border: 2px solid;
    border-radius: 2%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;

}

ul>li .nav-link {
    color: rgb(51, 60, 70);
    text-decoration: transparent;
}

ul>li .nav-link:hover {
    background-color: rgb(169, 173, 173);
    color: rgb(19, 17, 16);
}

/* #main-doc  {
    background-color: rgb(245, 238, 238);   
    font-size: 1.125rem;    
    text-align: justify;    
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;    
    border-left: 2px solid;
    border-radius: 1%;
    margin-left: 8%;
    margin-right: 3%;
} */

#main-doc .main-section #logica {
    font-size: 22px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    border: 2px solid;
    border-radius: 2%;
}

#main-doc .main-section #algoritmo {
    font-size: 22px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    border: 2px solid;
    border-radius: 2%;
}

#main-doc .main-section article h3 {
    margin-top: 6%;
    margin-bottom: 6%;

}

#main-doc .main-section article ul {

    margin-left: 25px;
    margin-top: 5%;
    margin-bottom: 2%;
}

#main-doc .main-section #rutina {
    font-size: 22px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    border: 2px solid;
    border-radius: 2%;
}

#main-doc .main-section #ejemplos {
    font-size: 22px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;

}

#main-doc .main-section article ol {
    margin-left: 25px;
}

/*Cuando el tamaño es mayor a 815px en pantalla */
@media (min-width: 815px) {
    #navbar {
        position: fixed;
        height: 100%;
        width: 300px;
        border-radius: 1%;
        margin-left: 1px;



    }

    #main-doc {
        position: absolute;
        margin-left: 320px;
        background-color: rgb(245, 238, 238);
        font-size: 1.125rem;
        text-align: justify;
        border: 2px solid;
        border-radius: 1%;
        margin-left: 25%;
        margin-right: 3%;
    }
}

/*cuando el tamaño es menor a 815px en pantalla */
@media (max-width:816px) {

    #navbar {
        height: 100%;
        width: 100%;
        border-right: 2px solid;
        border-radius: 1%;
    }

    #main-doc {
        background-color: rgb(245, 238, 238);
        font-size: 1.125rem;
        text-align: justify;
        margin-left: 8%;
        margin-right: 3%;
    }
}